<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.watchive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watchive">

        <activity android:name="com.example.watchive.MainActivity" />
        <activity android:name="com.example.watchive.LoginActivity" />
        <activity android:name="com.example.watchive.RegisterActivity" />
        <activity android:name="com.example.watchive.ui.watchlist.CreateFolderActivity" />

        <activity
            android:name="com.example.watchive.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Watchive.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
